.farflow-tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit; /* usually we don't want the regular ul margins. */
    margin-right: inherit;
}
.farflow-tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
.farflow-tagit li.farflow-tagit-choice {    
    position: relative;
    line-height: inherit;
}
input.farflow-tagit-hidden-field {
    display: none;
}
.farflow-tagit li.farflow-tagit-choice-read-only { 
    padding: .2em .5em .2em .5em; 
} 

.farflow-tagit li.farflow-tagit-choice-editable { 
    padding: .2em 18px .2em .5em; 
} 

.farflow-tagit li.farflow-tagit-new {
    padding: .25em 4px .25em 0;
}

.farflow-tagit li.farflow-tagit-choice a.farflow-tagit-label {
    cursor: pointer;
    text-decoration: none;
}
.farflow-tagit li.farflow-tagit-choice .farflow-tagit-close {
    cursor: pointer;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}

/* used for some custom themes that don't need image icons */
.farflow-tagit li.farflow-tagit-choice .farflow-tagit-close .farflow-text-icon {
    display: none;
}

.farflow-tagit li.farflow-tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
.farflow-tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}

/* Optional scoped theme for tag-it which mimics the zendesk widget. */

.farflow-tagit li.farflow-tagit-choice {
    display: inline-block;
    position: relative;
    height: 22px;
    padding: 3px 5px 0px;
    margin-left: 2px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.12);
    border-radius: 1px;
    background-color: #4279ac;
    color: #e7eff5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 11px;
    vertical-align: bottom;
}
.farflow-tagit li.farflow-tagit-choice .farflow-tagit-label:not(a) {
    color: white;
}
.farflow-tagit li.farflow-tagit-choice a.farflow-tagit-close {
    text-decoration: none;
}
.farflow-tagit li.farflow-tagit-choice .farflow-tagit-close {
    right: .4em;
}
.farflow-tagit li.farflow-tagit-choice .farflow-ui-icon {
    display: none;
}
.farflow-tagit li.farflow-tagit-choice .farflow-tagit-close .farflow-text-icon {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
}
.farflow-tagit li.farflow-tagit-choice:hover, ul.farflow-tagit li.farflow-tagit-choice.farflow-remove {
    background-color: #bbcef1;
    border-color: #6d95e0;
}
.farflow-tagit li.farflow-tagit-choice a.farflow-tagLabel:hover,
.farflow-tagit li.farflow-tagit-choice a.farflow-tagit-close .farflow-text-icon:hover {
    color: #222;
}
.farflow-tagit input[type="text"] {
    color: #333333;
    background: none;
}
.farflow-ui-widget {
    font-size: 1.1em;
}

/* Forked from a jQuery UI theme, so that we don't require the jQuery UI CSS as a dependency. */
.farflow-tagit-autocomplete.farflow-ui-autocomplete { position: absolute; cursor: default; }
* html .farflow-tagit-autocomplete.farflow-ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.farflow-tagit-autocomplete.farflow-ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.farflow-tagit-autocomplete.farflow-ui-menu .farflow-ui-menu {
    margin-top: -3px;
}
.farflow-tagit-autocomplete.farflow-ui-menu .farflow-ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.farflow-tagit-autocomplete.farflow-ui-menu .farflow-ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.farflow-tagit-autocomplete .farflow-ui-menu .farflow-ui-menu-item a.farflow-ui-state-hover,
.farflow-tagit-autocomplete .farflow-ui-menu .farflow-ui-menu-item a.farflow-ui-state-active {
    font-weight: normal;
    margin: -1px;
}
.farflow-tagit-autocomplete.farflow-ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff 50% 50% repeat-x; color: #222222; }
.farflow-tagit-autocomplete.farflow-ui-corner-all, .farflow-tagit-autocomplete .farflow-ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }
.farflow-tagit-autocomplete .farflow-ui-state-hover, .farflow-tagit-autocomplete .farflow-ui-state-focus { border: 1px solid #999999; background: #dadada; font-weight: normal; color: #212121; }
.farflow-tagit-autocomplete .farflow-ui-state-active  { border: 1px solid #aaaaaa; }

.farflow-tagit-autocomplete .farflow-ui-widget-content { border: 1px solid #aaaaaa; }
.farflow-tagit .farflow-ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px,1px,1px,1px); }